---
// 装饰性霓虹光球：固定定位 + 模糊，纯展示，不响应交互
---
<div class="orb blue" style="width:380px;height:380px;top:-90px;right:-70px;"></div>
<div class="orb violet" style="width:320px;height:320px;bottom:4%;left:-90px;animation-delay:-5s;"></div>
<div class="orb cyan" style="width:260px;height:260px;top:42%;right:6%;animation-delay:-9s;"></div>
